<%= form_with model: @booking, local: true do |form| %>
  <div>
    <%= form.label :flight_id, "Select Flight" %>
    <%= form.collection_select :flight_id, Flight.all, :id, :departure, prompt: "Choose a flight" %>
  </div>

  <%= form.fields_for :passengers do |p_form| %>
    <div>
      <%= p_form.label :name %>
      <%= p_form.text_field :name %>
    </div>
    <div>
      <%= p_form.label :email %>
      <%= p_form.email_field :email %>
    </div>
  <% end %>

  <%= form.submit "Book Flight" %>
<% end %>
